<!-- blocks -->
<div class="h-full">

    <div class=" rounded-xl shadow">
        <div class="p-5 ">
            <div class="tracking-widest">
                <h2 class="text-2xl  uppercase ">{{this.seller.nombre + ' ' + this.seller.apellido}}</h2>
            </div>
            <div class="my-5 shrink-0">
                <p class="text-lg font-medium">{{this.seller.ci}}</p>
                <p class="text-lg font-medium">{{this.seller.ruta}}</p>
            </div>

        </div>
    </div>
</div>