<!-- blocks -->
<div class="h-full">

    <div class=" rounded-xl shadow">
        <div class="p-5 ">
            <div class="tracking-widest">
                <h2 class="text-2xl  uppercase ">JONATA TERRAZAS AYALA</h2>
            </div>
            <div class="my-5 shrink-0">
                <p class="text-lg font-medium">Vendedor que recorre las calles de santa cruz</p>
            </div>
            <div class="flex gap-x-5 text-sm text-gray-400 items-center">
                <p class="w-2/3"></p>
            </div>
        </div>
    </div>
</div>