<h2 class="text-4xl font-bold ">Productos</h2>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Nombre
                </th>
                <th scope="col" class="px-6 py-3">
                    Descripcion
                </th>
                <th scope="col" class="px-6 py-3">
                    Precio
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of this.products" class="">
                <td scope="row" class="px-6 py-4 text-black">
                    {{product.id}}
                </td>
                <td class="px-6 py-4  text-black">
                    {{product.name}}
                </td>
                <td class="px-6 py-4  text-black">
                    {{product.description}}
                </td>
                <td class="px-6 py-4  text-black">
                    {{product.price}}
                </td>
            </tr>

        </tbody>
    </table>
</div>