<div class="relative z-10 " aria-labelledby="modal-title" role="dialog" aria-modal="true"
    [className]="this.classActiveCartera">

    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity hide"></div>

    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">

            <div
                class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">

                        <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                            <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Seleccione la
                                cartera.</h3>
                            <div class="mt-2">
                                <div class="relative overflow-x-auto shadow-md sm:rounded-lg tex">
                                    <table
                                        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                        <thead
                                            class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                            <tr>
                                                <th scope="col" class="px-6 py-3">
                                                    ID
                                                </th>
                                                <th scope="col" class="px-6 py-3">
                                                    Nombre
                                                </th>
                                                <th scope="col" class="px-6 py-3">
                                                    Descripcion
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let portfolio of this.portfolios" class="hover:bg-gray-200"
                                                (click)="this.setPortfolio(portfolio)">
                                                <td scope="row" class="px-6 py-4 text-black">
                                                    {{portfolio.id}}
                                                </td>
                                                <td class="px-6 py-4  text-black">
                                                    {{portfolio.name}}
                                                </td>
                                                <td class="px-6 py-4  text-black">
                                                    {{portfolio.description}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="">
    <button (click)="this.viewPortfolio()"
        class="bg-do-blue-light rounded-xl px-4 py-2 font-semibold text-white hover:bg-do-blue-medium hover:text-sky-100 active:bg-do-blue-mediumdark active:text-sky-300">
        Seleccionar Cartera
    </button>
</div>

<h2 class="text-4xl font-bold mt-3">Clientes</h2>


<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Nombre
                </th>
                <th scope="col" class="px-6 py-3">
                    Apellido
                </th>
                <th scope="col" class="px-6 py-3">
                    Dirección
                </th>
                <th scope="col" class="px-6 py-3">
                    Vender
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of this.clients" class="">
                <td scope="row" class="px-6 py-4 text-black">
                    {{client.id}}
                </td>
                <td class="px-6 py-4  text-black">
                    {{client.name}}
                </td>
                <td class="px-6 py-4  text-black">
                    {{client.lastname}}
                </td>
                <td class="px-6 py-4  text-black">
                    {{client.address}}
                </td>
                <td class="px-6 py-4  text-black">
                    <button (click)="this.vender(client)"
                        class="bg-do-blue-light rounded-xl px-4 py-2 font-semibold text-white hover:bg-do-blue-medium hover:text-sky-100 active:bg-do-blue-mediumdark active:text-sky-300">
                        Vender
                    </button>
                </td>
            </tr>

        </tbody>
    </table>
</div>




<!-- venta -->
<div class="relative z-10 w-2/3" aria-labelledby="modal-title" role="dialog" aria-modal="true"
    [className]="this.classActiveVenta">

    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity hide"></div>

    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">

            <div
                class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-5xl">
                <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">

                        <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                            <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Productos
                                cartera.</h3>
                            <div class="mt-2">
                                <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                                    <table
                                        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                        <thead
                                            class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                                            <tr>
                                                <th scope="col" class="px-6 py-3">
                                                    Producto
                                                </th>
                                                <th scope="col" class="px-6 py-3">
                                                    Precio
                                                </th>
                                                <th scope="col" class="px-6 py-3">
                                                    Cantidad
                                                </th>
                                                <th scope="col" class="px-6 py-3">
                                                    Sub-Total
                                                </th>
                                                <th scope="col" class="px-6 py-3">
                                                    Descripción
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let ordenItem of this.order?.orderItem"
                                                class="hover:bg-gray-200 text-black font-normal">
                                                <td scope="col" class="px-6 py-3 font-normal">
                                                    {{ordenItem.product.name}}
                                                </td>
                                                <td scope="col" class="px-6 py-3 font-norma">
                                                    {{ordenItem.product.price}}
                                                </td>
                                                <td scope="col" class="px-6 py-3 font-norma">
                                                    <input type="number" (change)="this.setCantidad($event, ordenItem)">
                                                </td>
                                                <td scope="col" class="px-6 py-3 font-norma">
                                                    {{ordenItem.subTotal}}
                                                </td>
                                                <td scope="col" class="px-6 py-3 font-norma">
                                                    <input type="text">
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot class="text-black font-normal">
                                            <tr>
                                                <td class="px-6 py-3 font-norma text-xl font-semibold" colspan="3">Total</td>
                                                <td class="px-6 py-3 font-norma text-xl font-semibold">{{order?.total}}</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                    <button
                    (click)="this.cancelOrder()"
                     type="button"
                        class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto" >Cancelar</button>
                    <button (click)="this.saveOrder()"
                    type="button"
                        class="bg-do-blue-light rounded-xl px-4 py-2 font-semibold text-white hover:bg-do-blue-medium hover:text-sky-100 active:bg-do-blue-mediumdark active:text-sky-300">Guardar</button>
                </div>
            </div>

        </div>
    </div>
</div>